body{
    font-family: Arial, Helvetica, sans-serif;
    background: url("media/bg.png");
    margin: 0;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    position: fixed;
    list-style: none;
    background: black;
    width: 100%;
}
  
.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}
  
.navigation a:hover {
    background: #1565C0;
}
.header {
    padding: 60px;
    text-align: center;
    background: darkgray;
    color: white;
}