.navstyle{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background: turquoise;
    position: fixed;
    top: 0;
    width: 800px;

}
.footstyle{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background: turquoise;
    width: 800px;
    text-align: center;

}
.navstyle a{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}
.navstyle a:hover{
    color: cornflowerblue;
}
.container{
    
    text-align: left;
    margin: 0 auto;
    padding: 18px;
    margin-top: 35px;
    height: auto;
    width: 800px;
}
.containerforstupidnav{
    text-align: left;
    margin: 0 auto;
    padding: 18px;    
    width: 800px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("media/bg.png");
    text-align: center;
}

#contacthighlight{
        background-color: blueviolet;
        
}
#abouthighlight{
    background-color: blueviolet;
    
}
#indexhighlight{
    background-color: blueviolet;
    
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-reddit {
    background: red;
    color: white;
  }

  .fa-linkedin {
    background: #0077B5;
    color: white;
  }

  