.navstyle{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background: #333333;
    position: fixed;
    top: 0;
    width: 800px;    
}
.footstyle{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background: #333333;
    width: 800px;
    text-align: center;

}
.navstyle a{                        /*complex selector 1*/
    float: right;
    display: block;
    color: lightgray;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}
.navstyle a:hover{                  /*complex selector 2*/
    color: cornflowerblue;
}
.container{
    
    text-align: left;
    margin: 0 auto;
    margin-top: 5px;
    height: auto;
    width: 800px;
    
}
.containerforstupidnav{
    text-align: left;
    margin: 0 auto;
    padding: 18px;    
    width: 800px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("media/bg.png");
    text-align: center;
}

#contacthighlight{
    background-image: url(media/bg.png);
        color: #333333;
}
#abouthighlight{
    background-image: url(media/bg.png);
    color: #333333;
    
}
#indexhighlight{
    background-image: url(media/bg.png);
    color: #333333;
    
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-reddit {
    background: red;
    color: white;
  }

  .fa-linkedin {
    background: #0077B5;
    color: white;
  }
  
  h1{
      text-align: center;
      font-size: 75px;
  }

  h2{
    text-align: center;
    padding: 20px;
    color: lightgray;
    background-color: #333333;
    margin: 0 auto;
    
}
.divbox h3{                           /*complex selector 3*/      
    text-align: center;
}
.divbox a{                          /*complex selector 4*/
    color: black;
    text-decoration: none;
}
.divbox a:hover{                    /*complex selector 5*/
    background-color: yellow;
}

  
  form{                                                               
    display:table;
    margin: auto;
  }
label{
    width: 90px;
    margin-top:15px;

    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    float:left;
}

input{
    width: 450px;
    height: 0px;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

#textfeld{
    width: 500px;
    height: 196px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 10px 20px 10px 20px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;

    resize: vertical;
}

fieldset{
    width: 600px;
    border: none;
    margin:0px;
    padding:0px;
}

button{                                                                 
    width: 90px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 150px;

    font-size: 1em;
    float:inline-start;
} 

.termsncons{
    width: 500px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
} 

#termsncons{
    color: black;
}
table, th, td{

    border: 3px solid black;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    text-align: center;
}
video{
    width:320px;
    height:640px;
    margin: 0 auto;
    display: block;
}
.solopictures{
    width:100%;
    height:100%;
    margin: 0 auto;
    display: block;
}
.divbox{
    width: 750;
    border: 20px solid #333333;
    padding: 15px; 
}

.divboxheading{
    width: 750;
    border: 20px solid #333333;
    opacity: 1;
    padding: 15px; 
    background-image:url(media/codepic.jpg);
}
.divboxheading h1{                     /*complex selector 6*/
    color: white;
    opacity: 0.9;
}


.pdf{
    width: 100%;
    height: 720px;
}
  